 /*CSS Style Sheet */*/


/* ------------------- VARIABLES ----------------------- */


/* -------- FONTS ---------  */
:root{
	--fontHeader: font-family: 'Fjalla One', sans-serif;
	--fontSubHead: font-family: 'Assistant', sans-serif;  
	--fontText: font-family: 'Libre Caslon Text', serif; 
}

/* -------- COLOURS -------- */
:root {
	--gold: #be8e42;
	--white: #ffffff;
	--black: #040c16;
	--blue: #1f2c3e;
	--lightBlue: #317ba4;
	--darkBlue: #1a2535;
	--grey: #dfdedc;
	--darkGrey: #82838a;
	--red: #983338;
	--brightRed: #b63636;

}




/* ------------------- ELEMENTS ----------------------- */

body{
	background-color: var(--black);
}

button{
	margin-right: 2em;
	border-style: none;
	background: none;
}

h2{
	font-style: var(--fontHeader);
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -2px;
	margin-bottom: 5%;
}

h3{
	font-style: var(--fontSubHead);
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 5%;
}

p{
	font-style: var(--fontText);
	font-size: 14px;
	margin-bottom: 0.25rem;
}

hr{
	border: 2.0px solid var(--lightBlue);
	margin: 0;
}





/* ------------------- CLASSES ----------------------- */



/* ------- SECTIONS -------- */

.sec-header{
	align-items: center;
	display: flex;
	height: 17vh;
	justify-content: center;
}

.sec-hero{
	width: 100vw;
}

.sec-hero:hover{
	opacity: 0.75;
}


.sec-blog{
	background-color: var(--white);
}

.sec-callToAction{
	background-color: var(--blue);
	min-height: 50vh;
	margin-top: 6%;
}

.sec-footer{
	height: 17vh;
}



/* ------- NAV BAR -------- */
.navbar{
	background-color: var(--black) ;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu{
	  border-radius: 0%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--white);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
	font-style: var(--fontHeader);
	font-size: 18px;
	font-weight: 600;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 14px;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f9eded;
	color: var(--gold);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.fancy-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav-link{
	font-style: var(--fontHeader);
	font-size: 18px;
	font-weight: 600;
	color: var(--grey);
	padding-top: 25px;
	padding-bottom: 12px;
	margin-bottom: 3px;
}

.nav-link:hover{
	color: var(--gold);
	border-bottom: 2px solid var(--gold);
	margin-bottom: 1px;
}



/* ------- MINI-HERO -------- */


/* -- FLEXBOXES  */

.flex-container{
	display: flex;
	flex-direction: row;
	max-width: 100vw;
	min-height: 60vh;
	padding-top: 1% ;
	padding-bottom: 1%;
	padding-left: 0;
	justify-content: space-between;
}


.flexItem-mini-hero{
	flex-basis: 32vw;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}



.mini-hero-post{
	margin: 0 0 0 5%;
  	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
}


#mini-hero-1 h2, #mini-hero-3 h2{
	color: var(--gold) ;
}

#mini-hero-1 h3{
	color: var(--grey);
}

#mini-hero-2 h2{
	color: var(--black);
}

#mini-hero-2 h3{
	color: var(--white);
}


.btn-white{
	background-color: var(--white);
	border-style: none;
	border-radius: 25px;
	color: var(--lightBlue);
	font-weight: 700;
	padding: 4% 4%;
	margin-top: 2%;
}

.mini-hero-progress{
	margin: 7% 5% ;
	margin-right: 5%;
}

.mini-hero-progress-case{
	color: var(--grey);
}


.mini-hero-progress-boxes{
	display: inline-block;
	width: 100%;
}

.mini-hero-progress-bar{
	display: inline-block;
	min-width: 85%;
	min-height: 7px;
	margin-right: 3%;
}

.mini-hero-progress-perc{
	display: inline-block;
	color: var(--gold);
}


#id-progress-1{
	background: linear-gradient(to right, var(--gold) 100%, var(--gold) 100%, var(--darkBlue) 50%);
}
#id-progress-2{
	background: linear-gradient(to right, var(--gold) 100%, var(--gold) 100%, var(--darkBlue) 50%);
}

#id-progress-3{
	background: linear-gradient(to right, var(--gold) 16%, var(--gold) 16%, var(--darkBlue) 16%);
}

#id-progress-4{
	background: linear-gradient(to right, var(--gold) 10%, var(--gold) 10%, var(--darkBlue) 10%);
}



/* ------- BLOG -------- */

.sec-blog h2{
	padding-top: 1% ;
	margin-bottom: 0.5%;
	margin-left: 2%;
	color: var(--black);
	letter-spacing: 0.5px;
	font-size: 30px;
}

.sec-blog hr{
	border: 1.0px solid var(--black);
	opacity: 1;
}

.flex-container-blog{
	display: flex;
	flex-direction: row;
	max-width: 100vw;
	min-height: 40vh;
	padding-top: 2% ;
	padding-bottom: 1%;
	padding-left: 0;
	justify-content: space-between;
	border-bottom: 1.0px solid var(--black) ;
}

.flexItem-blog-image{
	min-width: 35%;
	max-width: 35%;
}

.flexItem-blog-image img{
	max-width: 100%;
}

.flexItem-blog-body{
	max-height: 100%;
	min-width: 60%;
	margin-right: 2%;
	margin-left: 1%;
}


.div-title-blog{
	margin-left: 1%;
}

.flexItem-blog-body h3{
	margin-bottom: 1%;
	font-weight: 700 ;
	font-size: 24px;
}

.flexItem-blog-body button{
	font-size: 14px;
	padding-left: 0;
}

.para-blog-post{
	padding-top: 2%;
	font-size: 18px;
}


#btn-loadMore{
	border: 2px solid var(--grey);
	border-radius: 0%;
	color: var(--black);
	padding: 1% 1%;
	margin-bottom: 2%;
	width: 15%;
	font-size: 14px;
}

#div-loadMore{
	text-align: center;
}


/* -------  CALL TO ACTION -------- */

.sec-callToAction h3{
	color: var(--brightRed);
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 0.5px;
	margin-bottom: 2%;
}

.callToAction-div{
	padding: 2% 1% 1% 2%;
}

input{
	width: 43%;
	margin-right: 5%;
	margin-bottom: 3%;
	background: none;
	color: var(--grey);
	border-style: none;
	font-size: 16px;
}

.callToAction-div p{
	color: var(--darkGrey);
}


#btn-submit{
	background-color: var(--red);
	font-size: 14px;
	border-radius: 10px;
	padding: 0.5% 1%;
	color: var(--white);
	margin-top: 2%;
	margin-bottom: 0.5%;
}

#btn-submit:hover{
	background-color: var(--white);
	color: var(--red);
}



/* -------  FOOTER -------- */

.sec-footer p {
	color: var(--white);
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
	font-size: 14px;
}

.sec-footer{
	position: relative;
}

.flex-container-footer{
	display: flex;
	flex-direction: row;
	min-width: 100vw;
	max-width: 100vw;
	position: absolute;
 	bottom: 0;
 	margin-bottom: 1%;
}


.flexItem-footer{
	flex-basis: 50%;
	margin-top: 10px;
	position: relative;
}

#footer-links{
	text-align: right;
}

#footer-links p {
	display: inline-block;
	margin-right: 4% ;
}

#footer-links p:hover{
	text-decoration: underline;
}








/* ------------------- IDs ----------------------- */

/* Logo */
#fig-logo{
	max-width: 60vh;
	margin: auto;
}



#btn-newsletter{
	background-color: var(--gold);
	border-style: none;
	border-radius: 25px;
	color: var(--white);
	font-size: 18px;
	padding: 1% 1%;
}


/* Set the hero image */
#fig-hero-large{
	min-width: 100%;
	max-width: 100%;
}

#fig-hero-small{
	display: none;
	margin: auto;
}


/* Mini Heroes */
#mini-hero-1{
	background-color: var(--blue);
}

#mini-hero-2{
	background-color: var(--gold);
}

#mini-hero-3{
	background-color: var(--blue);
}





/*------------ MEDIA QUERIES ------------- */


@media all and ( max-width:  350px){
	.flexItem-mini-hero{
		min-height: 70vh;
	}
}



@media all and (max-width: 500px){
	.sec-header{
		height: 20vh;
	}
	#fig-logo{
		max-width: 50vh;
	}
}





@media all and (max-width: 770px){

	/* Swap the hero from small to large */
	#fig-hero-large{
		display: none;
	}
	#fig-hero-small{
		max-width: 70vw;
		display: block;
	}

	/* Changes for mini hero */
	.flex-container{
		flex-direction: column-reverse;
	}
	.flexItem-mini-hero{
		flex-basis: :20vw;
		min-height: 50vh;
	}
	.btn-white{
		padding: 2% 2%;
	}

	/* Changes for blog posts */
	.flex-container-blog{
		flex-direction: column;
	}
	.flexItem-blog-image{
		max-width: 100%;
	}
	.flex-container-footer{
		flex-direction: column;
	}
	.flexItem-footer{
		max-width: 100%;
	}
	p, #footer-links{
		text-align: center;
	}
}



/* Change the padding of the navlink when the menu is a burger */
@media all and (max-width:  990px){
	.nav-link{
		padding-top: 8px;
		padding-bottom: 8px;
	}
}





/* End of file 